@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    @apply font-bold bg-color-secondary py-3 px-9 hover:opacity-80 rounded shadow shadow-gray-950 hover:shadow-none duration-200;
}

.card_btn{
    @apply w-full px-9 py-3 rounded-md capitalize font-bold bg-color-primary-dark hover:bg-color-secondary ease-in duration-200;
}

.title{
    @apply text-3xl md:text-4xl font-bold leading-snug font-[popins];
}

.section-padding{
    @apply lg:px-20 px-10;
}

.bg-first-animation{
    animation-name: bg-first-animation;
    animation-duration: 5s;
    animation-delay: 150ms;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transform-origin: left;
    opacity: 0;

}

@keyframes bg-first-animation {
    25%, 100% {
      transform: scale(2);
      opacity: .4;
    }
  }

 .blob-1{
    @apply h-80 w-80 bg-color-blob absolute top-0 -left-5 blur-2xl opacity-20 overflow-hidden rounded-full  -z-10 ;
 }

 .blob-2{
    @apply h-80 w-80 bg-color-secondary absolute bottom-10 right-0 -z-10 blur-2xl opacity-20  rounded-full overflow-hidden;
 }

 .user-text{
    display: none;
 }

 .user-text.active-text{
    display: block;
    animation: moveup 1s line forwards;
 }

 .user-pic{
    transition: all .2s ease;
 }
 .user-pic.active-pic{
    border:2px solid #ff7d3b;
 }

 @keyframes moveup{
    0%{
        margin-top:40px;
        opacity: 0;
    }
    50%{
        margin-top:20px;
        opacity:0.1;
    }

    100%{
        margin-top:0;
        opacity: 1;
    }
 }

 .card{
    perspective: 1000px;
 }

 .front, .back{
    backface-visibility: hidden;
    transition: all .4s ease;
 }

 .front{
    overflow: hidden;
 }